body{
    background-color: aqua;
}

.nav{
    background-color: blue;
}
.he{
    background-color: black;
}
.se{
    background-color: brown;
}
.f{
    background-color: rgb(196, 255, 225);
}
.b{
    background-color: blueviolet;
}
.m.K{
    background-color: rgb(224, 11, 11);
}
P {
    background-color: brown;
    font-size: 2em;
}